[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask = "*"
itables = "*"
imblearn = "*"
scikit-learn = "*"
lightgbm = "*"

[dev-packages]
jupyter = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"
kaggle = "*"

[requires]
python_version = "3.13"
